# Ignore virtual environment
venv/

# Ignore Python bytecode files
__pycache__/

# Ignore local configuration files
config.py

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore Flask configuration files
*.cfg

